.home {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 50px;
    &__text-wrapper {
      justify-content: center;
      display: flex;

  
      h1 {
        color: var(--yellow-theme-main-color);
        font-weight: 600;
        font-size: 4rem;
        line-height: 6rem;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        animation: typingEffectAnimation 2.5s steps(30, end);
      }
    }
  
    &__container-wrapper { /* Added class for flex container */
      display: flex; /* Enables flexbox */
      align-items: center; /* Aligns buttons vertically */
      justify-content: center; /* Centers buttons horizontally */
      gap: 10px; /* Space between buttons */
      margin-top: 20px; /* Optional: add some spacing from the text */
    }
  
    button {
      cursor: pointer;
      padding: 10px 20px;
      font-size: 2rem;
      background: transparent;
      color: var(--yellow-theme-main-color);
      border: 2px solid var(--yellow-theme-main-color);
      border-radius: 4px;
      font-weight: 600;
  
      &:hover {
        background-color: var(--yellow-theme-main-color);
        color: #000000;
      }
    }
  }


  .home__profile-picture{
    // Round profile picture with transparent background
    img{
      border-radius: 50%;
      background-color: var(--yellow-theme-main-color);  
      box-shadow: 0px 0px 10px var(--yellow-theme-sub-text-color);
      width: 200px;   
      height: 200px;
      object-fit: cover;
      position: absolute;
      transform: translate(-50%, -50%); 
      left: 50%;
      bottom: 50%;
      font-weight: 600;
    }
  }

  @media only screen and (max-width: 768px) {
    .home {
      &__text-wrapper {
        h1 {
          font-size: 3rem;
          line-height: 4rem;
        }
      }
    }
  }
  
